*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.contenedor{
    width: 100%;
    height: 100vh;
    background-color: #EAEAEA;
    display: flex;
}
/* informacion personal */
.img-contenedor{
    width: 45%;
    height: 100vh;
}

.imagen{
background-image: url(../img/perfil.jpeg);
background-size: cover;
background-repeat: no-repeat;
    width: 50%;
    height:50vh;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25vh;
    box-shadow: 20px 30px 6px rgba(33, 33, 34, 0.497);

}



.info{
    width: 55%;
    height: 100vh;
}
.linea{
    border:2px solid rgb(14, 14, 172);
    margin-top: 1px;
    width: 10%;
    margin-left: 20px;
}
h2{
    margin-top: 50px;
    color: black;
    text-align: center;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-left: 20px;
    
}

.sub-tema{
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-left: 20px;
}

p{
    margin-top: 20px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    text-align: justify;
   margin-left: 20px;
}


.icon {
    font-size: 34px; 
    margin: 10px; 

}

.icons{
    margin-top: 20px;
    margin-left: 20px;
}


